langchain
langchain-openai
langchain-core
langchain_community
docx2txt
pypdf
langchain_chroma
python-multipart
fastapi
uvicorn
streamlit
datasets
# pip install "huggingface-hub<1.0.0,>=0.33.4"
# transformers==4.56.2